name: Build Android & Windows

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install deps
        working-directory: simple_live_app
        run: flutter pub get

      - name: Build APK (debug, no keystore)
        working-directory: simple_live_app
        run: flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Android-APK
          path: simple_live_app/build/app/outputs/flutter-apk/*.apk


  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Enable Windows Desktop
        working-directory: simple_live_app
        run: flutter config --enable-windows-desktop

      - name: Install deps
        working-directory: simple_live_app
        run: flutter pub get

      - name: Init MSIX
        working-directory: simple_live_app
        run: flutter pub run msix:create

      - name: Build Windows
        working-directory: simple_live_app
        run: flutter build windows

      - name: Upload MSIX
        uses: actions/upload-artifact@v4
        with:
          name: Windows-MSIX
          path: simple_live_app/build/windows/**/*.msix
